.blogs {

  &__text {
    color: $h2_text;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border-left: 1px solid rgba(43, 182, 57, 1);
    padding-left: 24px;
    margin-top: 60px;
    margin-bottom: 80px;
    span{
      color: rgba(43, 182, 57, 1);
      text-decoration: underline;
    }
  }
}
