.accordion {
  background-color: $backgroundLight;
  h2{
    padding: 130px 0 100px 0;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
  }
  @include media576 {
    padding: 50px 0 20px;
  }

  &__faq {
    border-top: 1px solid #E5E8EB;
    background: $backgroundLight;


    //box-shadow: 0 0 10px rgb(64 120 175 / 20%);
  }

  &__question {
    padding: 40px 0;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    font-style: normal;

    font-size: 24px;
    line-height: 150%;


    align-items: center;


    color: #121212;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 20px;
      height: 100%;
      width: 15px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 6L12 18' stroke='%23121212' stroke-linecap='round'/%3E%3Cpath d='M18 12L6 12' stroke='%23121212' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: .3s;
    }

    &_active {
      &:after {
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 12L6 12' stroke='%23121212' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &__answer {
    padding: 15px 20px;

    display: none;
  }
}
