.cv{
  background-color: $white;
  h2{
    padding: 130px 0 50px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
    color: $h2_text;
    margin: 0;
  }
  p{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: $h2_text;
    opacity: 0.8;
    padding-bottom: 80px;
  }
  &__fields{
    display: flex;
    flex-direction: row;
    padding: 40px 0 80px 0;
    align-items: center;
    border-top: 1px solid #E5E8EB;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0);
    position: relative; /* Добавляем позиционирование для вложенного блока */

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-top: 1px solid #fff;
      background: radial-gradient(92.76% 538.09% at 15.46% -45.12%, #3ECD4C 0%, #189B25 100%);
      border-radius: 12px;
      opacity: 0;
      transition: opacity 0.5s; /* Плавное изменение прозрачности */
    }

    &:hover::before {
      opacity: 1;
      border-top: 1px solid $white;
      cursor: pointer;
    }
    &:hover &-number {
      color: $white;
    }
    &:hover &-title {
      color: $white;
    }
    &:hover &-description {
      color: $white;
    }
    &-number{
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      color: $h2_text;
      padding-left: 40px;
      padding-right: 200px;
      position: relative;
      z-index: 1;
      transition:  0.5s;
    }
    &-title{
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      color: $h2_text;
      max-width: 320px;
      position: relative;
      z-index: 1;
      transition:  0.5s;
    }
    &-description{
      max-width: 290px;
      margin-left: 160px;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      opacity: 0.8;
      color: $h2_text;
      position: relative;
      z-index: 1;
      transition:  0.5s;
    }
  }
  @include media576 {
    padding: 50px 0 20px;
  }


}
