.header {
  padding: 20px 0 0 0;
  background-color: $white;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    @include media768 {
      justify-content: flex-start;
    }
  }

  &__logo {
    img.black {
      display: none;
    }

    img.inner {

      display: inherit;
      height: fit-content;
      padding: 0;
    }

    img {
      max-width: 160px;

      @include media576 {
        max-width: 100px;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    padding-left: 450px;
    margin: 0;

    @include media768 {
      position: absolute;
      background: #fff;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 340px;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      transform: translateX(calc(100% + 10px));
      transition: .3s;
      align-items: baseline;
      padding-left: 15px;
      margin: 0;
      z-index: 500;
      display: none;

      &_active {
        transform: translateX(0);
        @include media768 {
          display: flex;
        }
      }
    }

    li {
      margin: 0 20px;
      list-style: none;

      @include media768 {
        margin: 15px 0;
      }
    }

    a {
      color: $h2_text;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      text-decoration: none;
      transition: .3s;
      @include media768 {
        color: $h2_text;
      }

      &:hover {
        color: $lightGreen;
      }

      &.current {
        color: $lightGreen;
        font-weight: 700;
      }
    }
  }

  &__button {
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    background: $green;
    border: 1px solid $green;
    padding: 18px 19px;
    font-weight: 700;
    border-radius: 4px;
    transition: .5s;
    min-width: 130px;
    font-size: 14px;
    text-align: center;

    &:hover {
      background: $white;
      color: $green;
    }

    @include media768 {
      margin: 0 18px 0 auto;
    }
  }

  &__burger {
    display: none;
    position: relative;
    width: 20px;
    height: 14px;
    cursor: pointer;
    z-index: 700;

    @include media768 {
      display: block;
    }

    a {
      color: $h2_text;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 20px;
      height: 2px;
      background-color: $white;
      transition: .3s;


      &:nth-child(1) {
        transform: translate(-50%, calc(-50% - 7px));
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%);
      }

      &:nth-child(3) {
        transform: translate(-50%, calc(-50% + 7px));
      }
    }

    &_active {
      span {
        @include media768 {
          background-color: $black;
        }

        &:nth-child(1) {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}

.class-8 {
  background-color: $black;
  .header__button {
    text-decoration: none;
    color: $green;
    text-transform: uppercase;
    background: $black;
    border: 1px solid $green;
    padding: 18px 19px;
    font-weight: 700;
    border-radius: 4px;
    transition: .5s;
    min-width: 130px;
    font-size: 14px;
    text-align: center;

    &:hover {
      background: $green;
      color: $white;
    }

    @include media768 {
      margin: 0 18px 0 auto;
    }
  }
  img.inner {
    display: none;
  }
  img.black {

    display: inherit;
    height: fit-content;
    padding: 0;
  }
  a {
    color: $white;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    transition: .3s;
    @include media768 {
      color: $h2_text;
    }

    &:hover {
      color: $lightGreen;
    }

    &.current {
      color: $lightGreen;
      font-weight: 700;
    }
  }
}

.class-348 {
  background-color: $black;
  .header__button {
    text-decoration: none;
    color: $green;
    text-transform: uppercase;
    background: $black;
    border: 1px solid $green;
    padding: 18px 19px;
    font-weight: 700;
    border-radius: 4px;
    transition: .5s;
    min-width: 130px;
    font-size: 14px;
    text-align: center;

    &:hover {
      background: $green;
      color: $white;
    }

    @include media768 {
      margin: 0 18px 0 auto;
    }
  }
  img.inner {
    display: none;
  }
  img.black {

    display: inherit;
    height: fit-content;
    padding: 0;
  }

  a {
    color: $white;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    transition: .3s;
    @include media768 {
      color: $h2_text;
    }

    &:hover {
      color: $lightGreen;
    }

    &.current {
      color: $lightGreen;
      font-weight: 700;
    }
  }
}
