// colors
$textDark: #212121;
$textLight: #DEDEDE;
$backgroundLight: #f7fbff;
$border: #4078af;
$orange: #FF8900;
$red: #FF3306;
$yellow: #FFBC00;
$lightGreen: #56CD62;
$black: #000000;
$white: #FFFFFF;
