.dev_about {
  margin-top: 130px;
  background-color: $white;

  &__subtitle {
    color: rgba(18, 18, 18, 0.8);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(229, 232, 235, 1);
  }

  &__title {
    padding-top: 40px;
    padding-bottom: 80px;
    color: $h2_text;
    font-size: 50px;
    font-weight: 700;
    line-height: 130%;
    padding-right: 15%;
    @include media768 {
      font-size: 36px;
      padding-right: 0;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }

    span {
      text-decoration: underline;
      color: rgba(43, 182, 57, 1);
    }

  }

  &__cols {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    @include media768 {
      gap: 16px;
    }

    &-inner {
      flex-basis: calc(50% - 60px);
      color: rgba(18, 18, 18, 0.8);
      font-size: 15px;
      font-weight: 500;
      line-height: 150%;
      @include media768 {
        flex-basis: 100%;
      }
     ul{
       margin-left: 0;
       padding-left: 0;
       margin-top: 57px;
     }
      li {
        background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 22C17.0751 22 22 17.0751 22 11C22 4.92487 17.0751 0 11 0C4.92487 0 0 4.92487 0 11C0 17.0751 4.92487 22 11 22ZM16.7557 8.65495C17.1174 8.23759 17.0723 7.60603 16.6549 7.24433C16.2376 6.88262 15.606 6.92773 15.2443 7.34509L9.44767 14.0335L6.70709 11.2929C6.31657 10.9024 5.6834 10.9024 5.29288 11.2929C4.90235 11.6834 4.90235 12.3166 5.29288 12.7071L9.55229 16.9665L16.7557 8.65495Z' fill='%232BB639'/%3E%3C/svg%3E%0A") no-repeat 0% 50%;
        list-style-image: none;
        list-style-type: none;
        font-size: 24px;
        color: $h2_text;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 80px;
        padding-left: 46px;

        &::marker {
          margin-top: 5px;
        }
      }

      h3 {
        font-size: 30px;
        color: $h2_text;
        font-weight: 700;
        line-height: 130%;
      }
    }
  }

  &__tab {
    &-content {
      .tab-item {
        display: none;
        transition: 0.5s;
        min-height: 200px;

        &-second {
          padding: 80px 250px 0 250px;
          text-align: center;
          color: $h2_text;
          font-size: 24px;
          font-weight: 700;
          line-height: 130%;
        }

        &-first {
          padding-top: 60px;
          line-height: 130%;

          span {
            font-size: 18px;
            color: $h2_text;
            font-weight: 700;
            line-height: 130%;
            margin-right: 80px;
            margin-bottom: 40px;
            display: inline-block;
            padding-right: 30px;
            transition: 0.5s;
            background: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6.5L1 12' stroke='%23E5E8EB' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat right center;

            &:hover {
              color: rgba(43, 182, 57, 1);
              cursor: pointer;
              background: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6.5L1 12' stroke='%232BB639' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat right center;
            }
          }
        }
      }

      .tab-item.active {
        display: block;
        transition: 0.5s;
      }
    }

    &-container {
      width: 100%;
      transition: 0.5s;
    }

    &-buttons {
      display: flex;
      border-bottom: 1px solid rgba(229, 232, 235, 1);
      padding-top: 100px;
    }

    &-button {
      padding: 10px;
      border: none;
      cursor: pointer;
      background: none;
      transition: 0.5s;
      font-size: 14px;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
      color: $h2_text;
    }

    &-button.active {
      border-bottom: 1px solid rgba(43, 182, 57, 1);
      transition: 0.5s;
      color: #2BB639;
      font-size: 14px;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
    }
  }
}



