.testimonials {
  position: relative;
  background: $black;
  padding-bottom: 130px;
  .swiper-number{
    color: $white;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
  }
  h2{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .swiper-slide{
    &__nav{
      text-align: right;
    }
    &__top{
      font-size: 30px;
      color: $white;
      font-weight: 500;
      margin-bottom: 32px;
      @include media768{
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
      }
      span{
        text-decoration: underline;
        color: #2BB639;
      }
    }
    &__center{
      font-size: 15px;
      font-weight: 500;
      line-height: 150%;
      color: rgba(255, 255, 255, 0.8);
      @include media768{
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }
    }
  }

  .swiper1{
    position: relative;

    .black-back{
      //width: calc(100% - 40px) !important;
      //margin-left: 1px;
     // margin-right: 40px !important;
    }
    &:after{
      content: "";
      display: block;
      width: 150px;
      height: 100%;
      position: absolute;
      background: $black;
      right: 0;
      opacity: 0.8;
      top: 0;
      z-index: 9;
      @include media768{
        width:  81px;
      }
    }
  }
}

