.content {
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin: 1.5em 0 1em;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        text-decoration: underline;
        color: $textDark;
    }

    ol {

    }

    ul {

    }
}
