.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 38px;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    background: transparent;
    max-width: 280px;
    margin-bottom: 30px;


    .button-hide {
      color: $yellow;
      cursor: pointer;
      text-decoration: underline;
    }

    &__shapka {
      display: flex;
      justify-content: stretch;


    }

    &__top {
      justify-content: space-between;
      display: block;
      align-items: center;
      margin-bottom: 8px;

      .card__rating {
        margin-bottom: 16px;
        margin-top: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0001 17.5198L16.1501 20.0298C16.9101 20.4898 17.8401 19.8098 17.6401 18.9498L16.5401 14.2298L20.2101 11.0498C20.8801 10.4698 20.5201 9.36977 19.6401 9.29977L14.8101 8.88977L12.9201 4.42977C12.5801 3.61977 11.4201 3.61977 11.0801 4.42977L9.19007 8.87977L4.36007 9.28977C3.48007 9.35977 3.12007 10.4598 3.79007 11.0398L7.46007 14.2198L6.36007 18.9398C6.16007 19.7998 7.09007 20.4798 7.85007 20.0198L12.0001 17.5198Z' fill='%23FFD546'/%3E%3C/svg%3E%0A");
        background-repeat: repeat;
        height: 24px;
        @include media768 {
          margin-bottom: 10px;
        }
      }


      &-left {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $white;
        padding-right: 16px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          flex-shrink: 0;
        }

        span {
          color: $white;

        }
      }

      &-right {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #14A800;

      }
    }

    &__center {
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      p {

        font-size: 16px;
        line-height: 19px;
        color: $white;
      }

      a {
        color: $yellow;
        text-decoration: none;
      }
    }

    &__bottom {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #445A82;

      span {

        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #445A82;
      }
    }
  }
}

.swiper-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.08' cx='32.5' cy='32.5' r='32.5' transform='matrix(-1 0 0 1 65 0)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.0217 27.2464C30.4303 26.8749 31.0628 26.905 31.4343 27.3137L36.5597 32.9516L31.4343 38.5896C31.0628 38.9982 30.4303 39.0283 30.0217 38.6568C29.613 38.2853 29.5829 37.6529 29.9544 37.2442L33.8568 32.9516L29.9544 28.659C29.5829 28.2504 29.613 27.6179 30.0217 27.2464Z' fill='white'/%3E%3C/svg%3E%0A");
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  top: 35%;
  right: 0;
  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32.5 65C14.5507 65 0 50.4493 0 32.5C0 14.5507 14.5507 0 32.5 0C50.4493 0 65 14.5507 65 32.5C65 50.4493 50.4493 65 32.5 65ZM32.3374 27.3137C31.9659 26.905 31.3334 26.8749 30.9247 27.2464C30.5161 27.6179 30.486 28.2504 30.8575 28.659L34.7598 32.9516L30.8575 37.2442C30.486 37.6529 30.5161 38.2853 30.9247 38.6568C31.3334 39.0283 31.9659 38.9982 32.3374 38.5896L37.4628 32.9516L32.3374 27.3137Z' fill='%232BB639'/%3E%3C/svg%3E%0A");

  }

}

.swiper-next {
  background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.08' cx='32.5' cy='32.5' r='32.5' transform='matrix(-1 0 0 1 65 0)' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.0217 27.2464C30.4303 26.8749 31.0628 26.905 31.4343 27.3137L36.5597 32.9516L31.4343 38.5896C31.0628 38.9982 30.4303 39.0283 30.0217 38.6568C29.613 38.2853 29.5829 37.6529 29.9544 37.2442L33.8568 32.9516L29.9544 28.659C29.5829 28.2504 29.613 27.6179 30.0217 27.2464Z' fill='white'/%3E%3C/svg%3E%0A");
  width: 65px;
  height: 65px;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  top: 35%;
  left: 0;
  transform: rotate(180deg);

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' viewBox='0 0 65 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32.5 65C14.5507 65 0 50.4493 0 32.5C0 14.5507 14.5507 0 32.5 0C50.4493 0 65 14.5507 65 32.5C65 50.4493 50.4493 65 32.5 65ZM32.3374 27.3137C31.9659 26.905 31.3334 26.8749 30.9247 27.2464C30.5161 27.6179 30.486 28.2504 30.8575 28.659L34.7598 32.9516L30.8575 37.2442C30.486 37.6529 30.5161 38.2853 30.9247 38.6568C31.3334 39.0283 31.9659 38.9982 32.3374 38.5896L37.4628 32.9516L32.3374 27.3137Z' fill='%232BB639'/%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
  }

}

.swiper-pagination {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2;
  cursor: pointer;

  &.swiper-pagination-bullet-active {
    background: #9DD979;
    opacity: 1;
    width: 8px;
    height: 8px;
  }
}

.swiper-wrapper-index {
  position: relative;
}

.swiper1 {
  margin: 0 auto;
  overflow: visible;
}


.hidden-content {
  display: none;

  &--active {
    display: inline;
  }
}

.remove-span {
  display: contents;

  &--active {
    display: none;
  }
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

/*.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}*/

/*.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}*/

.hide {
  display: none !important;
}
