.banner {
  padding: 100px 0 0 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $black;

  @include media576 {
    padding: 50px 0 250px;
    background-size: 100% !important;
    background-position: 50% 100% !important;
  }

  h1 {
    font-size: 92px;
    margin: 0 0 67px;
    color: $white;
    span{
      color: rgba(43, 182, 57, 1);
      border-bottom: 1px solid rgba(43, 182, 57, 1);
    }
    @include media576 {
      margin-top: 120px;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
    }
  }

  p {
    font-size: 24px;
    margin: 0;
    max-width: 440px;
    color: $white;
    padding-bottom: 200px;
    @include media576 {
      font-size: 18px;
    }
  }
}
